script(type='text/javascript', src='http://code.jquery.com/jquery-2.0.3.min.js')
script(type='text/javascript', src='/js/' + 'clientutil/clientutil.js')

link(rel='stylesheet', href='../public/css/component/component.css', type='text/css' )

button(id="bt_test" type="button" class="magic2" onclick="memberFinder.reset();") rest
button(id="bt_test2" type="button" class="magic2" onclick="memberFinder.show();") show
button(id="bt_test3" type="button" class="magic2" onclick="memberFinder.robotEntry('hopper');") robot
button(id="bt_test4" type="button" class="magic2" onclick="$('#test').html(memberFinder.getMemberHtml(1));alert(JSON.stringify(memberFinder.getMemberData(1)))") member html




html
	head
		body

			#initBlockHop(class="magic " style="")



script(type='text/javascript', src='/js/memberfinder/memberfinder.js')

script.
	var memberFinder = new MemberFinder(
		{
			buildWithElement:'initBlockHop',
			title:'Member Finder',
			titleSize:'2',
			titleClass:'',

			buttons:
				[
					{
						id:'button_1',
						caption:'Ok',
						class:'',
						style:'',
						onClick:function(e, id, inData){
							console.log('HELLO HOPPER---' + id);
							console.dir(e);
							console.log('------data-----------------');
							console.dir(inData);
						}
					},
					{
						id:'button_2',
						caption:'Cancel',
						class:'magic',
						style:'width:100px;',
						'onClick':function(e, id, inData){
							console.log('HELLO HOPPER22---'  + id);
							console.dir(e);
							console.log('---------------------------------------------------');
							console.dir(inData);
							memberFinder.hide();
						}
					}
				]
		}
	);




script(type='text/javascript', src='/js/easyui/jquery.easyui.min.js')

